@model List<FBMicro.Web.Application.ViewModel.OfferDetailsVM>
@{
    ViewBag.Title = "Checkout Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="offers-wrapper">

    <div class="container row-offers-container">
        <h1>Check out Offers</h1>
        <div class="row row-offers" itemscope="" itemtype="http://schema.org/Product">
            <meta itemprop="name" content="Personal Loan Offers"> <span itemprop="brand" itemscope="" itemtype="http://schema.org/Brand">
                <meta itemprop="name" content="Finance Buddha">
            </span>

            <meta itemprop="description" content="Compare personal loans from top banks. * Lowest Interest Rates * Special Offers * Check Eligibility * Calculate EMI * Apply Online Now">

            <div class="col-md-12 offers-table-container">
                <div class="table-responsive">
                    @if (Model != null && Model.Any())
                    {
                        <table class="table table-stripped entries" id="entriestable">
                            <thead>
                                <tr>
                                    <th class="hidden-xs" style="width: 543.667px;">Bank Name</th>
                                    <th style="width: 543.667px;">Offer percentage<i class="fa-down"></i></th>
                                    <th class="hidden-xs" style="width: 543.667px;">Shopping</th>
                                    <th class="hidden-xs" style="width: 543.667px;">Amount</th>
                                    <th class="hidden-xs" style="width: 543.667px;"></th>
                                    <th class="hidden-xs" style="width: 543.667px;"><i class="fa-down"></i></th>
                                    <th class="hidden-xs" style="width: 543.667px;"><i class="fa-down"></i></th>
                                    <th class="hidden-xs" style="width: 543.667px;"><i class="fa-down"></i></th>
                                    <th class="hidden-xs" style="width: 543.667px;"><i class="fa-down"></i></th>
                                    <th class="hidden-xs" style="width: 543.667px;"><i class="fa-down"></i></th>
                                </tr>
                            </thead>
                            <tbody id="personal-loan-offers-container" class="loanoffer ">

                                @for (int offerDetail = 0; offerDetail < Model.Count(); offerDetail++)
                                {
                                    <tr>                                        
                                        <td>
                                            <img src="@Model[offerDetail].bankDetail.BankLogo" class="img-responsive offers-table-bank-image"
                                                 alt="@Model[offerDetail].bankDetail.BankDescription" title="@Model[offerDetail].bankDetail.BankDescription">
                                        </td>
                                        <td class="hidden-xs">@Model[offerDetail].bankDetail.offerPercentage<span>%</span> of Loan Amount </td>
                                        <td class="hidden-xs">Get Shopping vouchers worth</td>
                                        <td class="hidden-xs">@Model[offerDetail].OfferAmount </td>
                                        <td class="hidden-xs">FLIPKART</td>
                                        <td class="hidden-xs">AMAZON</td>
                                        <td class="hidden-xs">MYNTRA</td>
                                        <td class="hidden-xs">SHOPPERS STOP</td>
                                        <td class="hidden-xs">BIG BASKET</td>                                        
                                        <td class="hidden-xs"><a class="btn btn-primary offers-btn-apply-now" onclick="claimgift()" role="button">CLAIM YOUR GIFT NOW</a></td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    <div class="center loader hidden" id="personal-loan-offers-loader">
                        <img class="img-responsive text-center" src="~/assets/images/loaders/loading-wallet.gif" alt="Loading Wallet">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" >
    function claimgift() {
        alert("Thank you for Chosing FinanceBuddha, we will be calling you soon");
    }
</script>